header {
  width: 25%;
}

nav {
  .menu__toggle {
    display: block;
    position: relative;
    top: 0.056rem;
    left: .4rem;
    z-index: 9;
    -webkit-user-select: none;
    user-select: none;
    padding: .5rem;

    input {
      display: block;
      width: 2.222rem;
      height: 1.778rem;
      position: absolute;
      top: -0.389rem;
      left: -0.278rem;
      cursor: pointer;
      opacity: 0;
      z-index: 2;
      -webkit-touch-callout: none;

      &:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-0.111rem, -0.056rem);
        background: #232323;
      }

      &:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }

      &:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -0.056rem);
      }

      &:checked ~ ul {
        transform: none;
      }
    }

    span {
      display: block;
      width: 1.833rem;
      height: 0.222rem;
      margin-bottom: 0.278rem;
      position: relative;
      background: #fff;
      border-radius: 0.167rem;
      z-index: 1;
      transform-origin: 0.222rem 0;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      opacity 0.55s ease;

      &:first-child {
        transform-origin: 0 0;
      }

      &:nth-last-child(2) {
        transform-origin: 0 100%;
      }
    }
  }


  ul.navbar {
    text-align: center;
    position: absolute;
    width: 16.667rem;
    margin: -5.556rem 0 0 -2.778rem;
    padding: 6.944rem 0 2rem;
    background: #ededed;
    list-style: none none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0 0;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);

    li {
      display: inline-block;
      width: 100%;
      padding: 0.556rem 0;
      font-size: 1rem;

      a {
        position: relative;
        z-index: 1;
        border-width: 0 0 0.222rem;
        border-style: solid;
        border-color: transparent;
        display: block;
        padding: 1rem;
        text-decoration: none;
        color: #232323;
        font-weight: 800;
        text-transform: uppercase;
        transition: all .5s ease;

        &:hover {
          color: #fff;
          border-width: 0 0 0.222rem;
          border-style: solid;
          border-color: grey;


          &:after {
            opacity: 1;
            visibility: visible;
            height: 100%;
          }
        }

        &:after {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          margin: auto;
          width: 100%;
          height: 0.056rem;
          content: '.';
          color: transparent;
          background: #8C43E6;
          visibility: hidden;
          opacity: 0;
          z-index: -1;
          transition: all .5s;
        }

        &:before {
          transition: all .5s;
        }
      }
    }
  }
}
