@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'RocknRoll One', sans-serif;
  background-color: #5E2C99;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  height: 27.778rem;
  margin: 0 auto;
}

section {
  height: 100vh;
}

main{
  .bg{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    .title {
      background-color: #00000080;
      color: #fff;
      margin-bottom: 5.556rem;
      padding: 4rem 2.778rem;
    }
  }
  section.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
  }

  .arrow {
    position: fixed;
    bottom: 0;
    margin-bottom: 1em;
    width: 5.556rem;
    height: 5.556rem;
    background-image: url('~src/assets/svg/arrow_down.svg');
    background-size: contain;
  }

  .bounce {
    animation: bounce 2s infinite;
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-1.667rem);
    }
    60% {
      transform: translateY(-0.833rem);
    }
  }
}


/*** SHARED ***/
.center {
  text-align: center;
}

.title {
  color: #fff;
  font-weight: 700;
  font-size: 3vw;
}

.text-white {
  color: #fff;
}

.truncate-string {
  width: 12.222rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(74, 74, 74, .8);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*** Media queries 500 px ***/

@media screen and (max-width: 27.778rem) {
  .container {
    width: 100%;
  }

  /* Card */
  .character__list {
    justify-content: flex-start;
    flex-direction: column;
  }

  .card {
    border: 0.278rem solid rgba(255, 255, 255, 0.90);
    box-shadow: 0.111rem 0.111rem 0.333rem 0 rgba(255, 255, 255, 0.3);
    max-width: 100%;

    img {
      opacity: 1;
    }
  }
}
