@keyframes ldio-fi19irwkr6 {
  0% {
    top: 176.16px;
    left: 176.16px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 91.75px;
    left: 91.75px;
    width: 168.82px;
    height: 168.82px;
    opacity: 0;
  }
}

.ldio-fi19irwkr6 div {
  position: absolute;
  border-width: 7.34px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio-fi19irwkr6 1.3333333333333333s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.ldio-fi19irwkr6 div:nth-child(1) {
  border-color: #fd55c2;
  animation-delay: 0s;
}

.ldio-fi19irwkr6 div:nth-child(2) {
  border-color: #726cb9;
  animation-delay: -0.6666666666666666s;
}

.loadingio-spinner-ripple-1b0d4ard1l1 {
  width: 367px;
  height: 367px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.ldio-fi19irwkr6 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}

.ldio-fi19irwkr6 div {
  box-sizing: content-box;
}
